.explore_btn {
  border: 2px solid #6c63ff !important;
  color: black !important;
  padding: 10px 40px !important;
  border-radius: 30px !important;
  margin-top: 25px !important;
  cursor: pointer !important;
  transition: background-color 0.25s linear !important ;
}
.explore_btn_signin {
  background-color: #6c63ff !important;
  color: white !important;
  padding: 10px 40px !important;
  border-radius: 30px !important;
  margin-top: 25px !important;
  cursor: pointer !important;
  transition: background-color 0.25s linear !important ;
}
.explore_btn_signin:hover {
  background-color: #544cec !important;
}

.Explore_title {
  font-size: 45px;
  font-weight: 600;
  color: rgb(204, 203, 203);
  color: rgb(77, 76, 76);
}
.aboutUs,
.Features,
.Developers {
  font-size: 35px;
  font-weight: 700;
  color: grey;
  text-align: center;
  padding-bottom: 25px;
  padding-top: 75px;
}

.toolbar_explore {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.toolbarLeft {
  display: flex !important;
  align-items: center !important;
}
.toolbarRight > * {
  color: black;
  margin: 0 20px !important;
  font-size: 18px !important;
  font-family: sans-serif !important;
  cursor: pointer !important;
}

.home,
.aboutus,
.features,
.developers {
  padding: 10px 20px;
}

.active {
  border-bottom:4px solid #6c63ff;
  border-radius: 2.5px;
}
