.comment__area {
  display: flex !important;
  justify-content: space-between !important;
}
.text__field {
  margin-right: 10px !important;
  flex: 1 !important;
}
.send__button {
  margin-left: 10px !important;
  color: grey !important;
}
.send__button:hover {
  color: #0aa94b !important;
  background-color: white !important;
}
.disabled_color {
  background-color: grey;
}
.comment {
  background-color: rgb(255, 255, 255) !important;
  display: flex !important;
  justify-content: space-between !important;
  padding: 10px !important;
  margin: 10px 0px !important;
  align-items: center !important;
}
.content__comment {
  flex: 1;
}

.MuiDialog-paperWidthSm {
  padding: 20px;
}

.go_back_button {
  position: fixed !important;
  bottom: 30px !important;
  right: 30px !important;
  background-color: #0aa94b !important;
  height: 48px !important;
  width: 48px !important;
  color: white !important;
}

.post_delete :hover {
  color: #0aa94b;
}

/* comments */
.commentBy {
  font-size: 14px !important;
  font-weight: 600 !important;
  font-family: sans-serif;
}
.commentBody {
  font-size: 13px !important;
  font-family: sans-serif;
  font-weight: 400 !important;
  margin-left: 15px;
}
.commentCreatedAt {
  display: block !important;
  font-size: 13px !important;
  font-family: sans-serif;
  color: grey;
  margin-top: 5px;
}

.MuiInput-underline:after {
  border-bottom: 2px solid #0aa94b !important;
}

.MuiFormLabel-root.Mui-focused {
  color: #0aa94b !important;
}
